In [1]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv(r'D:\Unal\Analitica Descriptiva\Labs\2024-2-LAB-06-limpieza-de-datos-de-solicitudes-de-credito-DanielOrozco09\files\input\solicitudes_de_credito.csv', sep=';')

# Cambiar todos los datos tipo string de mayúscula a minúscula
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

# Eliminar duplicados
df.drop_duplicates(subset= ['Unnamed: 0'], inplace=True)

# Darle el mismo formato a todas las fechas
df['fecha_de_beneficio'] = pd.to_datetime(df['fecha_de_beneficio'], errors='coerce', dayfirst=True)
df['fecha_de_beneficio'] = df['fecha_de_beneficio'].dt.strftime('%Y-%m-%d')

# Eliminar registros con falta de datos
df.dropna(inplace=True)

# Guardar el DataFrame limpio en un nuevo archivo CSV
df.to_csv('../files/output/solicitudes_de_credito.csv', index=False, sep=';')


df

C:\Users\Daniel\AppData\Local\Temp\ipykernel_21296\1557227024.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda s: s.lower() if type(s) == str else s)

,Unnamed: 0,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,0,masculino,comercio,fabrica de,prado,3,10.0,2018-07-13,5000000,microempresarial
1,1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9.0,2017-10-30,6000000,microempresarial
2,2,femenino,comercio,tienda,aranjuez,2,4.0,2017-08-03,7300000,microempresarial
3,3,masculino,comercio,variedades,cabecera san cristobal,3,60.0,2017-11-20,7000000,microempresarial
4,4,femenino,comercio,fabrica de,robledo,2,7.0,2017-02-23,5000000,microempresarial
...,...,...,...,...,...,...,...,...,...,...
10915,10915,masculino,agropecuaria,comidas rapidas,villatina,1,8.0,2018-05-09,7000000,microempresarial
10916,10916,masculino,comercio,fabrica de arepas,villa hermosa,3,8.0,2017-01-23,7377000,microempresarial
10917,10917,femenino,comercio,variedades,cabecera san cristobal,1,60.0,2018-04-12,7800000,microempresarial
10918,10918,femenino,servicio,cafe e internet,manrique oriental,2,3.0,2017-06-01,7370000,microempresarial
10919,10919,masculino,comercio,fabrica de helados,castilla,3,5.0,2018-07-23,7500000,microempresarial

In [29]:
df.sexo.value_counts().to_list() 
#== [6617, 3589]

[6498, 3540]

In [18]:
df.sort_values('monto_del_credito')

,Unnamed: 0,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
3918,3918,femenino,comercio,comidas rapidas,sevilla,3,4.0,2017-09-22,"$ 1,000,000.00",microempresarial
9197,9197,femenino,comercio,variedades,doce de octubre no.1,2,6.0,2016-04-11,"$ 1,000,000.00",microempresarial
1630,1630,femenino,comercio,comidas rapidas,enciso,2,8.0,2018-04-19,"$ 1,000,000.00",microempresarial
4548,4548,femenino,agropecuaria,sembrados,cabecera san cristobal,2,60.0,2018-11-23,"$ 1,000,000.00",microempresarial
5048,5048,femenino,comercio,variedades,enciso,2,8.0,2017-05-15,"$ 1,200,000.00",microempresarial
...,...,...,...,...,...,...,...,...,...,...
764,764,femenino,comercio,tienda,centro admtivo,3,10.0,2017-08-04,8800000,microempresarial
3752,3752,masculino,comercio,mantenimiento en,santa cruz,2,2.0,2019-03-05,8821000,microempresarial
9910,9910,femenino,servicio,productos de belleza,belen,3,16.0,2016-10-11,890000,microempresarial
6825,6825,femenino,industria,fabrica de,santa lucia,3,12.0,2018-09-20,900000,microempresarial
9405,9405,masculino,servicio,publicidad y,vrda. san cristobal,3,60.0,2016-02-02,9000000,empresarial ed.